*{
    font-size: 16px;
}

h5{
padding-top: 0px;
}


.row {
    padding-top: 30px;
}

.btn{
    margin-bottom: 10px;
}

.rightside {
    border-radius: 20px;
    margin-top: 10px;
}

#top{
    margin-top: 0px;
}

#bot{
    margin-bottom: 0px;
}

#name{
    padding-top: 12px;
}

#image{
    padding-top: 12px;
}
